.flex-container {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: lightskyblue;

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;


  /* max-width: 200px; */
  min-height: 100px;

  font-size: 24px;
  font-weight: 900;
  background-color: red;
  margin: 4px;
}

.alto1 {
  flex-grow: 0.5;
  flex-shrink: 2;
}