section {
  margin: 40px;
}
.banner_principal{
  border: 4px solid darkslateblue;
  padding: 200px 100px;
  text-align: center;
}
.banner_secundario {
  display: inline-block;
  border: 3px solid orange;
  margin: 40px 0;
  padding: 80px 40px;
  width: 40%;
  text-align: center;
  background-color: #999;
}
.banner_secundario:first-child {
  float: left;
}
.banner_secundario:first-child {
  float: right;
}
.ficha {
  margin: 40px 125px;
  display: inline-block;
  border: 2px double skyblue;
  padding: 80px 40px;
  width: 19%;
  text-align: center;
}
.ficha:first-child, .ficha:last-child {
  margin-left: 0;
  margin-right: 0;

}
.ficha:first-child {
  float: left;
}
.ficha:last-child {
  float: right;
}