.formulario {
  border: 2px solid goldenrod;
  background-color: azure;
}

fieldset {
  background-color: bisque;
  border: 1px solid brown
}
legend {
  font-size: 20px;
  font-weight: 900;
  color:brown;
  color: rgb(255, 255, 255);
}

