
* {
  margin: 0;
  padding: 0;
  width: unset;
  box-sizing: border-box;
  overflow-x: hidden;
};
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;

};
.flexCtn {
  display: flex;
};
.displayNone {
  display: none;
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
.Rasslider {
  border: 1px solid brown;
  position: relative;
  width: 100vw;
}
.Rasslider__wrapper {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-position: center;
  background-size: cover;
  background-color: unset;
  background-repeat: no-repeat;

  border: 1px solid blue;
  display: flex;
  width: unset;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow : hidden;
}
.Rasslider__wrapper::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}
.Rasslider__wrapper__element {
  border: 1px solid greenyellow;
  margin: calc(100vw * (49 / 1366)) calc(100vw * (37 / 1366)) calc(100vw * (34 / 1366)) calc(100vw * (37 / 1366));
  min-width: 196px;
  width: calc(100vw * (196 / 1366));
  height: calc(100vw * (197 / 1366));
  scroll-snap-align: center;
}
.Rasslider__prevButton, .Rasslider__nextButton {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  z-index: 100;
}
.Rasslider__prevButton {
  left: 0;
}
.Rasslider__nextButton:hover,  .Rasslider__prevButton:hover{
  background-color: blue;
  cursor: pointer;
}
.Rasslider__nextButton {
  right: 0;
}
.Rasslider__paginator {
  border: 1px solid burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.Rasslider__paginator__circle {
  border-radius: 50%;
  margin: 0 10px;
  min-width: 8px;
  min-height: 8px;
  border: 1px solid;
}
.Rasslider__paginator__circle:hover {
  cursor: pointer;
  background-color: aqua;
}
.Rasslider__paginator__circle__active {
  border: 1px solid wheat;
  background-color: brown;
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */

/* .section__showcaseCategories__slider__wrapper {
  margin-left: calc(100vw * (118 / 1366));
  margin-right: calc(100vw * (118 / 1366));
}
.section__showcaseCategories__slider__wrapper__product {
  margin: calc(100vw * (49 / 1366)) calc(100vw * (37 / 1366)) calc(100vw * (34 / 1366)) calc(100vw * (37 / 1366));
  min-width: 196px;
  width: calc(100vw * (196 / 1366));
  height: calc(100vw * (197 / 1366));
}
*/
.section__showcaseCategories__slider__paginator__circle {
  border: 1px solid red;
  width: calc(100vw * (12 / 1366));
  height: calc(100vw * (12 / 1366));

} 