body {
  background-color: azure;
  /* box-sizing: border-box; */
}
.bloque1 {
  /* height: 300px; */
  background-color: green;
  /* overflow: scroll; */
  /* height: max-content; */
}
.titulo, .titulo2, .titulo3 {
  background-color: beige;
  width: 20%;
  /* height: 400px; */
  border: 5px double black;
  padding: 50px 30px 50px 45px;
  margin: 0;
  margin: auto;
  margin-top: 10px;
  max-width: 700px;
  min-width: 10%;
  text-align: center;
  display: inline-block;
}
.titulo2 {
  background-color: blue;
  /* visibility: hidden; */
  /* display: none; */
}
.titulo3 {
  background-color: coral;
}
#enlace {
  background-color: hsl(112, 98%, 51%);
}