* {
  margin: 0;
  padding: 0;
}
#background, header  {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#background {
  overflow: scroll;
  margin: 0;
  padding: 0;
  height: max-content;
  background-image: url("https://source.unsplash.com/eS7HrvG0mcA");
}
.page_ctn {
  width: 90%;
  height: max-content;
  margin: 1% auto 6%;
  padding: 2%;
  background-color: hsl(0, 0%, 100%);
  height: max-content;
  overflow: scroll;
}
header {
  margin: 0 0 2% 0;
  width: 100%;
  height: 100px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM5snQl2A3DC1RJ4xx7QIKQutgnD4y3i0kAQ&usqp=CAU");
  background-position: left;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: right;
  padding: 3%;
}
h1 span {
  color: red;
}
main {
  /* border: 1px solid blueviolet; */
  height: max-content;
}
article {
  width: 30%;
  height: max-content;
  display: inline-block;
}
article:first-child {
  float: left;
  border-right: 6px dotted red;
  padding-right: 2%;
}
article:nth-of-type(2) {
  margin-left: 2%;
  border-right: 6px dotted blue;
  padding-right: 2%;
}
article:last-child {
  float: right;
}
h2 {
  padding: 4% 0% 4% 6%;
  margin: 0 0 6%;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  letter-spacing: 4px;
  color: white;
}
#personajes {
  background-color: red;
}
#casting {
  background-color: blue;
}
#rodaje {
  background-color: green;
}
ul, p {
  font-family: 'Stardos Stencil', cursive;
}
ul {
  list-style: none;
}
li {
  padding: 3% 0;
}
p {
  text-align: left;
  line-height: 270%;
}