body {
  background-color: yellow;
  /* background-image: url(https://previews.123rf.com/images/serkorkin/serkorkin1603/serkorkin160300157/53427760-resumen-de-patrones-sin-fisuras-de-fondo-en-color-azul-resumen-de-patrones-geom%C3%A9tricos-sin-fisuras-par.jpg); */
  background-size: cover;
  margin: 0;
}
.header {
  background-color: red;;
  padding: 30px 0;
  text-align: center;
  border: 2px solid black
}
.contenido {
  display: flex;
  background-color: blue;
}
.caja1, .caja2, .caja3 {
  width: 33vw; 
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja1 {
  background-color: chartreuse;
}
.caja2 {
  background-color: rgb(48, 52, 57);
}
.caja3 {
  background-color: rgb(255, 0, 225);
}
/* MOBILE */
@media only screen and (max-width: 400px){
  body {
    background-color: chocolate;
    background-image: none;
  }
  .contenido {
    flex-wrap: wrap;
  }
  .caja1, .caja2, .caja3 {
    width: 100vw;
  }
}
/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 900px){
  body {
    background-color: green;
  }
  .contenido {
    flex-wrap: wrap;
  }
  .caja1, .caja2, .caja3 {
    width: 50vw;
    flex-grow: 2;
  }
}