.flex-container {
  display: flex;
/* FLEX-DIRECTION */
  /* Este es el fvalor por default: "row" */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-direction: column-reverse; */

/* FLEX-WRAP */
  /* Este es el fvalor por default: "nowrap" */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  
/* FLEX-FLOW: "flex-direction" | "flex-wrap" */
  /* flex-flow: row-reverse wrap; */
  flex-flow: row wrap; 
  
/* JUSTIFY-CONTENT: define la alineación de los elementos en el eje definido en "flex-direction"  */
  /* Este es el fvalor por default: "flex-start" */
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: baseline; */
  
/* ALIGN-ITEMS */  
  /* Este es el fvalor por default: "flex-start" */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  align-items: stretch ;
  /* align-items: baseline; */

  background-color: lightcyan;
  width: 100%;
  height: 600px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;




  width: 200px;
  min-height: 100px;
  /* height: 150px; */
  font-size: 24px;
  font-weight: 900;
  background-color: lightgreen;
  margin: 4px;
}


/* .alto1 {
  height: 200px;
}
.alto2 {
  height: 300px;
} */